* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

.container {
  width: 90%;
  margin: 20px auto;
}

h1 {
  text-align: center;
}

.hamburger {
  width: 24px;
  height: 24px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hamburger-img {
  width: 100%;
  height: 100%;
  display: block;
}

.title {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 4rem;
}

.hero-image {
  width: 300px;
  height: 300px;
}

.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-image img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

.hero-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.hero-text2 {
  text-align: justify;
  width: 60%;
  color: #ccc;
}

.main {
  display: flex;
  margin-top: 50px;
  margin-bottom: 50px;
  justify-content: space-between;
}

.main-job {
  width: 38%;
}

.main-jobTitle {
  font-size: 30px;
}

h4 {
  font-size: 10px;
  margin-top: 20px;
  letter-spacing: 2px;
  line-height: 1rem;
}

.main-sideJob {
  width: 60%;
}

.main-sideJob1 {
  margin-bottom: 10px;
}

.main-sideJob2 {
  line-height: 1.5rem;
  color: #ccc;
  margin-bottom: 20px;
}

.one {
  margin-top: 80px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.one-number {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.one-text {
  margin-top: 40px;
  font-size: 36px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.one-view {
  text-align: center;
  margin: 30px;
}

.portflio {
  margin-top: 100px;
}

.portflios1,
.portflios2 {
  display: flex;
  justify-content: space-between;
}

.portflio-1,
.portflio-2,
.portflio-3,
.portflio-4,
.portflio-5,
.portflio-6 {
  border: 2px solid white;
  width: 300px;
  height: 300px;
  margin: 20px;
  border-radius: 8px;
}

.submit {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

button {
  margin: 40px;

  padding: 15px 30px;
  cursor: pointer;
  color: #fff;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  letter-spacing: 1.5px;
  font-weight: bold;
}

.activities {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.activities-one {
  width: 47%;
}

.activities-one--2 {
  margin-top: 20px;
  color: #ccc;
}

.activities-two {
  width: 47%;
  color: #ccc;
}

.activities-two p:last-child {
  margin-top: 20px;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.about-image {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 20px;
}

.about-information {
  font-size: 36px;
  margin: 30px;
}

.about-location {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about-location p {
  padding: 5px;
}

.border-divide {
  width: 200px;
  height: 5px;
  background-color: #fff;
  margin: 20px;
}

.about-sample {
  width: 240px;
  text-align: center;
}

.footer {
  margin-top: 50px;
  background: gray;
  height: 100px;
  margin-left: -5%;
  margin-right: -8%;
  text-align: center;
  padding: 30px;
}
